@model List<CMS.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Uprawnienia</th>

            

        </tr>
    </thead>
    <tbody>
            @foreach (var user in Model)
            {
                <tr>
                <td>@user.Email</td>
                @foreach (var role in user.Roles)
                {
                
                    <td>@role</td>
                
                }

                </tr>

            }
    </tbody>
</table>


